:root {
	--fuente-textos: "Numans", sans-serif;
	--fuente-titulos: "Open Sans", sans-serif;
	--fuente-subtitulos: "Averia Serif Libre", serif;
	--blanco: #fff;
	--amarillo: #ffff25;
	--verde-oscuro: #1f5659;
	--verde-claro: #70e000;
	--verde-whatsapp: #11ba17;
	--azul-oscuro: #061a33;
	--azul-claro: #0a66c2;
	--morado: #320887;
	--rosa-instagram: #cb2473;
	--rojo-google: #cb4035;
	--gris-transparente: #3c3c3cbb;
	--gradiente-uno: linear-gradient(#0f172a, #061a33);
	--gradiente-dos: linear-gradient(#061a33, #112044);
}

body {
	margin: 0;
	font-family: var(--fuente-textos);
	color: var(--blanco);
	scroll-behavior: smooth;
}

h1,
h2,
h3,
a {
	font-family: var(--fuente-subtitulos);
	color: var(--blanco);
}

svg {
	fill: white;
	height: 30px;
	padding: 2px;
}

img {
	user-select: none;
}

.header {
	width: 100%;
	height: 100vh;
	background-image: url("../img/banner.webp");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.navbar {
	height: 80px;
	width: 100%;
	display: flex;
	padding: 50px 35px;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
}

.navbar__img {
	width: 50px;
	height: 50px;
}

.navbar__links {
	list-style: none;
	display: flex;
	gap: 20px;
	transform: scaleY(1);
}

.navbar__links li:first-child {
	display: none;
}

.navbar__links--oculto {
	transform: scaleY(0);
}

.navbar__link {
	position: relative;
	text-decoration: none;
	color: var(--blanco);
	text-shadow: 0 0 10px var(--azul-oscuro);
	font-size: 1.5em;
}

.navbar__link::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 3px;
	bottom: 0;
	left: 0;
	background-color: var(--amarillo);
	transform: scaleX(0);
	transform-origin: bottom right;
	transition: transform 0.3s ease-in-out;
}

.navbar__link:hover::after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.navbar__toggler {
	display: none;
	cursor: pointer;
}

.navbar__toggler svg {
	width: 45px;
	height: 45px;
}

.navbar__toggler--presionado {
	border: 1px solid var(--blanco);
	border-radius: 5px;
	transform: scale(0.9);
}

.presentacion {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	margin: auto;
}

.presentacion__titulo {
	display: flex;
	flex-direction: column;
}

.presentacion__titulo h1 {
	font-size: 32px;
}

.presentacion__titulo h1:nth-child(2) {
	font-family: var(--fuente-titulos);
	font-size: 48px;
	color: var(--amarillo);
}

.presentacion__img {
	width: 400px;
	height: 400px;
	border-radius: 50%;
	outline: 10px solid var(--azul-oscuro);
}

.principal {
	background: var(--gradiente-uno);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.seccion {
	width: 80%;
	margin: 40px 0;
}

.seccion__titulo {
	margin: 40px 0;
	text-align: center;
	font-size: 40px;
	text-shadow: 0 0 15px var(--verde-oscuro);
	scroll-margin-top: 90px;
}

.seccion__titulo::before {
	content: "< ";
	color: var(--verde-oscuro);
}

.seccion__titulo::after {
	content: " />";
	color: var(--verde-oscuro);
}

.sobremi {
	width: 60%;
}

.sobremi__descripcion {
	font-size: 20px;
}

.sobremi__links {
	display: flex;
	gap: 20px;
}

.sobremi .logo__linkedin:hover {
	fill: var(--azul-claro);
}

.sobremi .logo__github:hover {
	fill: var(--morado);
}

.sobremi__linkcv {
	text-decoration: none;
	font-size: 20px;
	padding: 5px;
	transition: all 0.125s;
	border: 2px solid var(--blanco);
	border-radius: 10px;
	background-color: var(--blanco);
	color: var(--azul-claro);
}

.sobremi__linkcv:hover {
	color: var(--azul-claro);
	border-color: var(--azul-claro);
}

.habilidades__imagenes {
	display: grid;
	grid-template-columns: repeat(3, minmax(256px, 1fr));
	place-content: center;
	place-items: center;
	gap: 100px;
}

.habilidades__logo {
	width: 256px;
	height: 256px;
}

.proyecto {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 100px;
	place-items: center;
	place-content: center;
	padding: 40px;
	border-radius: 20px;
}

.proyecto__imagen {
	width: 600px;
	aspect-ratio: 16/9;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 20px;
	overflow: hidden;
	place-items: center;
	transition: box-shadow 0.1s, transform 0.1s;
}

.proyecto__imagen:hover {
	box-shadow: 0 0 50px rgba(0, 0, 0, 1);
}

.proyecto__descripcion {
	font-size: 24px;
}

.proyecto__titulo {
	font-size: 28px;
	color: var(--verde-claro);
}

.proyecto__link {
	display: flex;
	width: fit-content;
	align-items: center;
	text-decoration: none;
	gap: 10px;
}

.proyecto__link:hover svg {
	fill: var(--azul-claro);
}

.footer {
	background: var(--gradiente-dos);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
}

.footer__titulo {
	font-size: 32px;
	margin: 32px 0;
}

.redes {
	display: flex;
	gap: 40px;
}

.redes .logo__whatsapp:hover {
	fill: var(--verde-whatsapp);
}

.redes .logo__instagram:hover {
	fill: var(--rosa-instagram);
}

.redes .logo__mail:hover {
	fill: var(--rojo-google);
}

.footer__copyright {
	font-size: 16px;
	margin: 24px 0;
}

@media screen and (max-width: 1200px) {
	.presentacion__img {
		height: 300px;
		width: 300px;
	}

	.habilidades__imagenes {
		grid-template-columns: repeat(3, minmax(128px, 1fr));
		gap: 50px;
	}

	.habilidades__logo {
		width: 128px;
		height: 128px;
	}

	.proyecto {
		grid-template-columns: 1fr;
		gap: 50px;
	}

	.proyecto__imagen {
		max-width: 800px;
	}
}

@media screen and (max-width: 1024px) {
	.header {
		height: calc(100vh + 150px);
	}

	.navbar {
		background-color: var(--gris-transparente);
		border-bottom: 1px solid var(--blanco);
		position: fixed;
		z-index: 1;
	}

	.navbar__links {
		position: fixed;
		top: 80px;
		left: 0;
		width: 100%;
		flex-direction: column;
		align-items: center;
		gap: 0;
		padding: 0;
		margin: 0;
		background-color: var(--gris-transparente);
		transform-origin: top;
		transition: transform 0.2s ease-in-out;
	}

	.navbar__links li {
		width: 100%;
		text-align: center;
		border-bottom: 1px solid var(--blanco);
	}

	.navbar__links li:first-child {
		display: block;
	}

	.navbar__toggler {
		display: block;
	}

	.presentacion {
		flex-direction: column;
	}

	.presentacion__foto {
		position: absolute;
		bottom: -304px;
	}

	.sobremi {
		margin-top: 150px;
	}
}

@media screen and (max-width: 768px) {
	.habilidades__imagenes {
		grid-template-columns: repeat(2, minmax(128px, 1fr));
	}
}
