@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@700&family=Numans&family=Open+Sans:ital,wght@1,700&display=swap');

body {
    margin: 0;
    background: linear-gradient(#0f172a, #061a33, #112044);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Numans', sans-serif;    
}




h3, h4, a {
    font-family: 'Averia Serif Libre', serif;
}


svg {
    fill: white;
    height: 30px;
    padding: 2px;
}

.navbar {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    background-image: url("../img/banner.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    border-bottom: 1px dashed #222222;
}

.botones__navbar {
    justify-content: space-between;
    padding: 25px;
}

.navbar__boton {
    padding: 5px;
    border-radius: 5px;
    display: none;
}

.oculto {
    transform: scaleY(0);
    overflow: hidden;
}

.bordesBlancos {
    border: 2px solid white;
}

.navbar__logo {
    height: 50px;
    user-select: none;
}

.navbar__nav {
    display: flex;
    padding: 25px;
}

.navbar__nav li {
    list-style: none;
    display: inline-block;
}

.navbar__nav a {
    position: relative;
    color: white;
    padding: 2px;
    text-decoration: none;
    margin-right: 15px;
    font-size: 24px;
    text-shadow: 0 0 20px #061a33;
}

.navbar__nav a::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #ffff25;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform .3s ease-in-out;
}

.navbar__nav a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.navbar__nav svg {
    padding: 0 5px;
    cursor: pointer;
    display: none;
}

.presentacion__contenedor {
    width: 100%;
    display: flex;
    position: absolute;
    top: 20%;
    justify-content: space-evenly;
    align-items: center;
}

.presentacion {
    color: white;
    margin-left: 100px;
    user-select: none;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 0 0 15px #061a33;
}

.presentacion h3 {
    font-size: 32px;
}

.presentacion h1 {
    font-size: 48px;
    color: #ffff25;
}

.presentacion__foto {
    border-radius: 50%;
    
}

.presentacion__foto img {
    width: 300px;
    border-radius: 100%;
    border: 10px solid #d8dad8;
}

main {
    align-items: center;
    display: flex;
    flex-direction: column;
}

main h3 {
    text-align: center;
    font-size: 40px;
}


section {
    width: 80%;
    margin: 40px 0;
    
}

section h3 {
    text-shadow: 0 0 15px #1f5659 ;
}

section h3::before {
    content: "< ";
    color: #1f5659;
}

section h3::after {
    content: " />";
    color: #1f5659;

}

.sobremi {
    width: 60%;
}

.sobremi p {
    font-size: 20px;
}

.sobremi a {
    margin-right: 20px;
    color: white;
}

.sobremi__links {
    display: flex;
    align-items: center;
}

.sobremi .logo-linkedin:hover {
    fill: #0a66c2;
}

.sobremi .logo-github:hover {
    fill: #320887;
}

.sobremi .sobremi__linkcv {
    text-decoration: dotted;
    font-size: 20px;
    padding: 3px;
    transition: all .125s;
    padding: 5px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: white;
    color: #112044;
}



.sobremi__linkcv:hover {
    color: #0a66c2;
    border-color: #0a66c2;
}

.habilidades__imagenes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.habilidades__imagenes .logo {
    width: 256px;
}

.proyectos__contenedor {
    display: flex;
    flex-direction: column;
}

.proyecto__contenedor {
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    gap: 40px;
}

.proyecto__imagen {
    border-radius: 10px;
    overflow: hidden;
}


.proyecto img {
    width: 100%;
    border-radius: 10px;
    transition: all .2s ease-in-out;
    opacity: 0.9;
}

.proyecto img:hover {
    transform: scale(1.2);
    opacity: 1;
}

.proyecto__descripcion {
    font-size: 24px;
}

.proyecto__descripcion h4 {
    font-size: 24px;
    color: #70e000;
}

.proyecto__descripcion a {
    display: flex;
    width: fit-content;
    align-items: center;
    gap: 10px;
    font-size: 24px;
    color: white;
    text-decoration: none;
}

.proyecto__descripcion svg:hover {
    fill: #0a66c2;
}



footer {
    border-top: 1px dashed #222222;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

footer h3 {
    font-size: 32px;
}

footer .redes {
    display: flex;
    gap: 40px;
}

.redes a {
    color: white;
}

.redes .logo-whatsapp:hover {
    fill: #11ba17;
}

.redes .logo-instagram:hover {
    fill: #cb2473;
}

.redes .logo-mail:hover {
    fill: #dd4e42;
}


@media screen and (max-width: 1200px) {

    .habilidades__imagenes .logo {
        width: 128px;
    }

    .proyecto__contenedor {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

@media screen and (max-width:1024px) {
    .navbar {
        flex-direction: column;
        justify-content: unset;
        border: none;
    }

    .botones__navbar {
        display: flex;
        background-color: #3c3c3cbb;
        position: fixed;
        width: 100%;
        z-index: 1;
        box-sizing: border-box;
        border-bottom: 1px solid white;
    }
    
    .navbar__boton {
        top: 25px;
        right: 25px;
        display: block;
    }

    .navbar__nav {
        display: block;
        padding: 0;
    }
    
    .navbar__nav ul {
        background-color: #3c3c3cbb;
        position: fixed;
        z-index: 1;
        top: 105px;
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;
        transition: transform .3s ease-in-out;
        transform-origin: top;
    }
    
    .navbar__nav li {
        display: block;
        border-bottom: 1px solid white;
        text-align: center;
    }

    .navbar__nav li:first-child {
        border-top: 1px solid white;
    }

    .navbar__nav li:hover {
        background-color: #3c3c3cee;
    }

    .navbar__nav a::after {
        display: none;
    }

    main {
        margin-top: 200px;
    }

    section h3 {
        scroll-margin-top: 120px;
        font-size: 36px;
    }

    .presentacion__contenedor {
        flex-direction: column;
        justify-content: center;
    }

    .presentacion__contenedor .presentacion {
        margin: 0;
        text-align: center;
    }

    .presentacion__contenedor .presentacion__foto {
        position: absolute;
        top: 180%;
    }

    .presentacion__foto img {
        border-color: #061a33;
    }

    .sobremi {
        width: 80%;
    }

    .habilidades__imagenes .logo {
        width: 96px;
    }

    .proyecto__descripcion h4 {
        font-size: 32px;
    }

    .proyecto__descripcion p {
        font-size: 22px;
    }

}